<title>Online Booking</title>
{% extends 'layout.html' %} {% load static %} {% block body %} 
{% if user.is_authenticated %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black text-center m-5">
  <form
    method="post"
    action="{% url 'bookingSubmit' %}"
    class="me-2 ms-2"
    required
  >
    {% csrf_token %}

    <!--input time-->
    <h3 class="text-center fPersian mt-4">Choose your provider:</h3>
    <!--template for card list-->

{% for staff_member in staff %}
<div class="d-flex justify-content-center">
    <div class="card border-primary custom-card mb-3" style="width: 50%;">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2>{{ staff_member.name }}</h2>
            {% if staff_member.tier == 'Gold' %}
                <i class="fas fa-star" style="color: gold;"></i>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="mb-3">
                <p class="mb-0"><strong>Contact Information:</strong> {{ staff_member.contact_information }}</p>
                <p class="mb-0"><strong>Tier:</strong> {{ staff_member.tier }}</p>
                <p class="mb-0"><strong>Service:</strong> {{ staff_member.service }}</p>
                <p class="mb-0"><strong>Experience:</strong> {{ staff_member.experience }} years</p>
                <p class="mb-0"><strong>Rating:</strong> {{ staff_member.rating }}</p>
            </div>
            <p class="mb-0"><strong>Bio:</strong> {{ staff_member.bio }}</p>
        </div>
        <div class="card-footer">
            <form method="POST" action="{% url 'submit_staff_data' %}">
                {% csrf_token %}
                <input type="hidden" name="staff_name" value="{{ staff_member.name }}">
                <button type="submit" class="btn btn-primary rounded-pill float-end">Choose</button>
            </form>
        </div>
    </div>
</div>
{% endfor %}






</form>
</div>
</div>

{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black m-5">
  <h1 class="p-2 me-3">First Sign in!</h1>
  <a href="{% url 'login' %}" class="btn btn-primary text-white">Sign in</a>
</div>

{% endif %} {% endblock %}
